@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav, section {
    width: 100%;
    background-color: #4c0fbc;
}

a {
    text-decoration: none;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    padding: 5px 45px;
}

.nav__logo, .nav__links {
    display: flex;
    align-items: center;
}

.t-box {
    border: solid 2px #fff;
    background-color: #fff;
    color: #4c0fbc;
    margin: 6px;
    padding: 3px 12px;
    border-radius: 2px;
    font-weight: 900;
    font-size: 1.5rem !important;
}

.logo__name {
    color: #fff;
    margin: 6px;
    padding-top: 4px;
    font-weight: 900;
    font-size: 1.5rem !important;
}

.nav__link, .nav__btn {
    margin: 20px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    position: relative;
}

.nav__link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    background-color: #fff;
}

.nav__link:hover::after {
    text-decoration: underline;
    text-underline-offset: 10px;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav__btn {
    border: 2px solid #a110f5;
    border-radius: 5px;
    background-color: #a110f5;
    padding: 12px 36px;
}

.nav__btn:hover {
    text-decoration: none;
}

.section__container {
    display: flex;
    justify-content: space-between;
    padding: 12rem 45px;
}

.section__left {
    width: 610px;
    text-align: left;
}

.section__header {
    font-size: 3rem;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #fff;
    max-width: 56rem;
}

.section__para {
    font-size: 1rem;
    margin-top: 1rem;
    max-width: 42rem;
    color: #fff;
    font-weight: 400;
}

.section__btn {
    font-size: 1rem;
    padding: 1.25rem 2.5rem;
    border-radius: 0.25rem;
    font-weight: 700;
    background-color: #a110f5;
    color: #fff;
    border: none;
    margin-top: 2rem;
    display: inline-block;
}

.main__img {
    height: 500px;
    width: 500px;
    position: relative;
    bottom: 100px;
}

.features__container {
    position: relative;
    bottom: 90px;
}

.features__header {
    font-size: 3rem;
    color: #fff;
    font-weight: 900;
    letter-spacing: 0.025em;
    text-align: center;
}

.features__para {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625;
    margin: 0 auto;
    width: 576px;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
}

.features__top--three, .features__bottom--three {
    display: flex;
    justify-content: space-between;
}

.feature__box {
    max-width: 15rem;
}

.feature__img {
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 9999px;
    padding: 1.25rem;
}

.feature__text--container {
    margin-top: 1.5rem;
    text-align: left;
}

.feature__title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.05em;
    color: #fff;
}

.feature__description {
    margin-top: 0.5rem;
    line-height: 1.375;
    color: #fff;
    font-size: 1rem;
}